@charset "utf-8";
a {
  text-decoration: none;
}
nav {
  margin-bottom: 4rem;
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}


:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 20rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item-none {
  cursor: default;
}


.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery-image:hover {
  opacity: .7;
}

.detail-gallery {
  max-width: 70%;
}

.detail-gallery-item{
  max-width: 70%;
  font-size: 1.5rem;
  a {
    margin-right: 2rem;
  }
}

.detail-image:hover {
  opacity: 1;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
}

input[type="text"] {
  background: rgba(255, 255, 255, .5);
  border: 1px rgb(136, 136, 136) solid;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
}

.button {
  margin: 10px 0;
  padding: 5px 20px;
  border: 1px solid rgb(15, 88, 172);
  border-radius: 5px;
}

@media screen and (max-width: 40rem) {
  input[type="text"] {
    max-width: 100%;
    padding: 5px;
  }
}


@supports (display: grid) {
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 2rem;
  }

  .gallery-item,
  .gallery {
      width: auto;
      margin: 0;
  }

  .detail-gallery {
    margin: 0 auto;
  }

}

