@charset "utf-8";
a {
  text-decoration: none;
}
nav {
  margin-bottom: 4rem;
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}


:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

/* Gallery Section */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 20rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.gallery-item-none {
  cursor: default;
}


.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery-image:hover {
  opacity: .7;
}

.detail-gallery {
  max-width: 70%;
}

.detail-gallery-item{
  max-width: 70%;
  font-size: 1.5rem;
  a {
    margin-right: 2rem;
  }
}

.detail-image:hover {
  opacity: 1;
}

label {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
}

input[type="text"] {
  background: rgba(255, 255, 255, .5);
  border: 1px rgb(136, 136, 136) solid;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
}

.button {
  margin: 10px 0;
  padding: 5px 20px;
  border: 1px solid rgb(15, 88, 172);
  border-radius: 5px;
}

/* Profile Section */

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(25% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
}

.profile-image img {
  border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}

.prof-btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: 1px solid #000;
  color: inherit;
  padding: 5px 10px;
  cursor: pointer;

}

.prof-btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.icon {
  position: fixed;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: rgb(0, 225, 255);
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
}

.icon::before, .icon--plus::after {
  position: absolute;
  top: 29px;
  left: 50%;
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border-top: 2px solid #fff;
  transform: translateX(-50%);
}

.icon--plus:after {
  top: 11px;
  left: -9px;
  transform: rotate(90deg);
}


@media screen and (max-width: 40rem) {
  input[type="text"] {
    max-width: 100%;
    padding: 5px;
  }

  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
  }

  .profile::after {
    display: none;
  }

  .profile-image{
    margin-right: 3rem;
  }

  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
      float: none;
      width: auto;
  }

  .profile-image img {
    width: 10rem;
  }

  .profile-user-settings {
    flex-basis: calc(100% - 15rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .profile-user-name {
    font-size: 2.2rem;
  }

  .profile-edit-btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
  }

  .profile-edit-btn {
    margin-left: 0;
  }

  .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
      flex-basis: 100%;
  }

}


@supports (display: grid) {
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
      grid-gap: 2rem;
  }

  .gallery-item,
  .gallery {
      width: auto;
      margin: 0;
  }

  .detail-gallery {
    margin: 0 auto;
  }

}

